<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <div *ngIf="mKey" class="content" >
    <div class="qrcode">
      <qr-code [value]=mKey [size]="180"></qr-code>
    </div>
    <div class="msg">
      Please scan <span>QR Code</span> at a service point for a queue number
    </div>
    <button ion-button (click)="onClickNewQR()">Generate new QR Code</button>
  </div>

  <div *ngIf="!mKey" class="content" >
    <div class="request">
        <div class="spinner">
            <ion-spinner name="bubbles"></ion-spinner>
        </div>
        <div class="msg">
          <p>Request a queue number from server...</p>
          <p>Preparing best step and flow for serving...</p>
        </div>
    </div>
  </div>

</ion-content>
